.sidepanel {
  position: absolute;
  right: 1vw;
  bottom:0px;
  right:0px;
  margin-bottom: 1vh;
  margin-top:1vh;
  margin-right: 1vw;
  min-width: 350px;
  width: 20vw;
  height: 75vh;
  z-index: 1000;
  box-sizing: border-box;
  padding: 2vh 10px 2vh 10px;
}

.sidepanel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);    
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sidepanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
}

.sidepanel::-webkit-scrollbar {
  display: none;
}

.sidepanel .panel-item {
  border-radius: 10px;
  background-color: #1D4ED8;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  padding:10px;
}